<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Brad Pitt Fan Club</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head><!--/head-->

<body>

<header id="header">
    <div class="container">
        <div class="container-inner">
            <div class="logo pull-left">
                <a class="pull-left logo" href="/">
                    <h5><img class="img-responsive" src="images/logo.png" alt="logo"></h5>
                </a>
            </div>
            <div class="logo pull-left">
                <br>
                <br>
                <h4>Brad Pitt Fan Club</h4>
            </div>
            <div class="menu pull-right">
                <a href="#" class="nav-button">
                    <i class="fa fa-align-justify"></i> Menu
                </a>
            </div>
        </div>
    </div>
</header> <!--/#header-->

<div id="navigation">
    <div class="vertical-middle">
        <div class="vertical-middle-inner">
            <div class="main-nav">
                <a id="hidemenu" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
                <ul>
                    <li class="active"><a href="/" data-target="#page-slider">Home</a></li>
                    <li><a href="/quiz" data-target="#page-slider">Quiz</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!--/#navigation-->


          {{{body}}}



<footer id="footer" class="text-center">
    <h5>&copy; 2016 Brad Pitt Fan Club</h5>
</footer>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jump.js"></script>
</body>
</html>









<!-- <!DOCTYPE html>
<html lang="en">
<head>



</head>
 -->
