<section id="welcome-page">


        <div class="carousel-inner">
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">
                            <div class="text-center">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                                <h2 class="page-header">Wrong answer!</h2>
                                <h3>The correct answer is {{movieData.original_title}}</h3>
                                <a href='/question_2'>
                                  <button type="submit" class="btn btn-lg btn-transparent">Play again</button>
                                </a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>
</section>
