<section id="welcome-page">


        <div class="carousel-inner">
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">
                            <div class="text-center">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                                <h2 class="page-header">Wrong answer!</h2>
                                <h3>The correct answer is C. {{movieData.overview_2}}.</h3>
                                <h1>Sorry! You did not pass the test!</h1>

                                <a href='/quiz'>
                                  <button type="submit" class="btn btn-lg btn-transparent">Restart</button>
                                </a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>
</section>
