
<section id="welcome-page">

    <div id="page-slider" class="carousel slide" data-interval="false">

        <div class="carousel-inner">

            <div id="home-page" class="item active">
                <div class="container">
                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">
                            <div class="row">
                                <div class="col-sm-6 col-md-push-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="images/collage.jpg" frameborder="0" ></iframe>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-pull-6">
                                    <h2 class="heading">Welcome <br> To Brad Pitt Fan Club</h2>
                                    <p class="lead">Only the fans pass the Brad Pitt movie quiz can join the fan club!</p>
                                    <p class="lead">Are you ready to take the challenge?</p>
                                    <!-- <button type="submit" class="btn btn-lg btn-transparent" href="/quiz">I'm ready!</button> -->
                                    <a href="/quiz">
                                      <button class="btn btn-lg btn-transparent">I'm ready!</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/#home-page-->



        </div><!--/.carousel-inner-->
    </div>
</section>
