<section id="welcome-page">


        <div class="carousel-inner">
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">
                            <div class="text-center">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                                <h2 class="page-header">Q: Can you guess the movie from poster?</h2>
                                <h3>(Attention: You only have 5 seconds to remember the poster.)</h3>
                                <a href='/question_1'>
                                  <button type="submit" class="btn btn-lg btn-transparent">Begin</button>
                                </a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>
</section>





<!-- <h1>
{{movieData.categoryName}}
</h1>
<h1>{{movieData.release_date}}</h1>

<h1>{{movieData.popularity}}</h1>

<p>{{movieData.poster_path}}</p> -->
